[include]
    path = .gitconfig.local
[push]
    default = current
[core]
    excludesfile = ~/.gitignore
    editor = vim
    sparsecheckout = true
    autocrlf = false
    eol = lf
[gui]
    encoding = utf-8
[i18n]
    logOutputEncoding = utf-8
[color]
    ui = auto
    interactive = auto
[alias]
    co = checkout
    cob = checkout -b
    cot = checkout -t
    pusho = !git push origin -u $(git symbolic-ref --short HEAD)
    c = commit
    s = status -sb
    b = branch
    a = add
    f = fetch --all --prune
    sm = submodule
    ps = push
    pd = push --delete
    pl = pull
    cm = commit -m
    ca = commit -a
    di = diff --color-words
    d  = diff --color-words
    l  = log --graph  --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
    ll = log --graph  --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s%n %C(white)- %an, %ar%Creset'
    logall = log --decorate  --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
    c = commit
    dst = !git d --staged
    la = !git l --all
    graph = log --graph
    logall = log --decorate  --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
    conf = config
    confg = config --global
    confls = config -l --includes
    rem = remote
    inu = !git config user.name inuscript && git config user.email inuscript@gmail.com && git commit --amend --reset-author
    meff = merge --ff-only
    ffm = merge --ff-only
    fa = fetch --all --prune
    bb = !git branch $1
    radigin = remote add origin
    cop = "!f(){ git checkout -b $(git rev-parse --abbrev-ref HEAD)-$1; }; f"

    # 指定した場所からfeature切る
    bog = !A = $(git config --get comb.master) ; echo ${A}
    bt = !git for-each-ref --sort='-*committerdate' --format='%(authordate:iso8601) %(refname:short)' refs/ | sort
    conflict = diff --name-only --diff-filter=U
[github]
	name = inuscript
	email = inuscript@gmail.com
[credential]
    helper = osxkeychain
[merge "mergepbx"]
    name = Xcode project files merger
    driver = mergepbx %O %A %B
    note = auto-generated configuration by `cpad manifest ios`

[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[fetch]
	prune = true
[diff]
	compactionHeuristic = true
[merge]
	conflictstyle = diff3
[rerere]
	enabled = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
