# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
'.workspace .editor:not(.mini)':
  'cmd-d': 'editor:duplicate-lines'

'body':
  #'shift-cmd-W': 'pane:close-other-items'
  'alt-cmd-w': 'pane:close-other-items'

'.editor':
  'cmd-space': 'autocomplete:toggle'

# swap
'.platform-darwin .editor':
  'cmd-p': 'symbols-view:toggle-file-symbols'

'.platform-darwin':
  'cmd-r': 'fuzzy-finder:toggle-file-finder'
    
'.platform-darwin .editor':
  'cmd-r': 'fuzzy-finder:toggle-file-finder'
